---
const {imageURL, title, author, summary} = Astro.props;
---
<style>
    #imageBorder {
        border-image-source: url(/border.png);
        border-image-repeat: round;
        border-image-slice: 10%;
        border-image-width: 40px;    
    }
</style>
<div class="flex flex-col lg:flex-row justify-between w-full flex-auto ">
    <div class="flex">
        <img
        src={imageURL}
        class="object-cover w-full h-full lg:w-[1000px] md:h-[250px] lg:h-[400px] xl:h-[500px]"
        alt="Image thumbnail" 
        />
    </div>
    <div id="imageBorder" class="flex lg:ml-4 p-8 shadow-xl md:shadow-none lg:w-1/3 lg:h-[400px] xl:h-[500px]">
        <div class="flex flex-col p-2 h-full font-raleway lg:p-4 lg:rounded-[33px]">
            <h1 class="text-sm md:text-xl xl:text-4xl text-brown hover:text-red-900 font-black group transition-all duration-200 ease-in-out">
                <a href="/article">
                    <span class='bg-left-bottom bg-gradient-to-r from-brown to-brown bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-[3000ms] ease-out'>
                    {title}
                    </span>
                </a>
            </h1>
            <div class="flex flex-row w-full text-xs md:text-xl lg:text-xs xl:text-lg lg:leading-9 space-x-2 py-2">
                <h2 class=" text-black italic font-thin">Oleh</h2>
                <h2 class="text-black font-normal group transition hover:text-brown">
                    <a href="#">{author}</a>
                    <span class="block max-w-0 group-hover:max-w-full transition-all duration-1000 h-0.5 bg-brown"></span>
                </h2>
            </div>
            <article class="hidden lg:block h-full overflow-hidden hover:overflow-y-scroll  font-raleway font-normal text-xs lg:text-sm space-y-2">
                <p>
                    {summary}
                </p>
                <p>
                    {summary}                        
                </p>
            </article>
        </div>
    </div>
</div>