---
import Post from '../Post/Post.astro'
const {title, post1, post2, post3} = Astro.props;
---

<div class="box-border w-[90vw] md:w-full flex flex-col justify-center items-center border-[2px] mx-3 my-5 px-10 py-2 md:mx-0 md:p-2 md:pb-0 border-gray shadow-xl">
    <a href="/rubrik">
        <h1 class="font-tangerine text-brown text-5xl lg:text-7xl px-5">{title}</h1>
    </a>
    <div class="flex flex-col w-full md:w-60 py-5 space-y-2 divide-y-2 divide-dotted divide-gray-400 ">
        <Post title={post1.title} author={post1.author} />
        <Post title={post2.title} author={post2.author} />
        <Post title={post3.title} author={post3.author} />
    </div>
</div>